.button-wrapper {
  margin: auto;
  display: block;
  width: 20%;
}

.button {
  background: $purple;
  border: none;
  border-bottom: 0.3rem solid darken($purple, 10%);
  color: white;
  font-weight: 500;
  font-size: $m-size;
  padding: $s-size;
}

.button.left {
  float: left;
}

.button.right {
  float: right;
}

.button.sign-in {
  margin: $m-size;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.button.sign-out {
  margin: auto;
  margin-right: $m-size;
  width: 10%;
}

.button:disabled {
  opacity: 0.5;
}
