.input-wrapper {
  display: flex;
  flex-direction: column;
  padding: $m-size;
  background: $light-blue;
}

.input {
  width: 60rem;
  background: $dark-blue;
  border: none;
  color: $off-white;
  border-bottom: 0.3rem solid darken($dark-blue, 10%);
  flex-grow: 1;
  margin: auto;
  padding: $s-size;
}
