#repositories {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: $off-white;
}

#repositories td,
#repositories th {
  border: 1px solid $off-white;
  padding: 8px;
  width: 20%;
}

#repositories tr:nth-child(even) {
  background-color: $light-blue;
}

#repositories tr:hover {
  background-color: $purple;
  color: white;
}

#repositories th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: $blue;
  color: white;
}
